<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        .container
            section.container__info_section

            section.container__form_section
                form.container__form_section__form(action="")
                    .container__form_section__form__name_container
                        h2 Datos
                        .container__form_section__form__name_container__data.container__form_section__form__name_container__data--nombre
                            //- label(for="nombre") Nombre
                            input#nombre(type="text", name="" placeholder="Nombre")
                        .container__form_section__form__name_container__data.container__form_section__form__name_container__data--paterno
                            //- label(for="") Apellido Paterno
                            input(type="text", placeholder="Apellido Paterno")

                        .container__form_section__form__name_container__data.container__form_section__form__name_container__data--materno
                            //- label(for="") Apellido Materno
                            input(type="text", name="" placeholder="Apellido Materno")

                    //- label(for="") Cargo
                    //- input(type="text", name="")

                    //- label(for="") Edad
                    //- input(type="text", name="")

                    //- label(for="") Sexo
                    //- input(type="text", name="")

                    //- label(for="") Jornada
                    //- input(type="text", name="")

                    //- label(for="") Escolaridad
                    //- input(type="text", name="")

                    //- label(for="") E-mail
                    //- input(type="text", name="")

                    //- label(for="") Departamento
                    //- input(type="text", name="")