$widthInput: 12em;

.container{
    display: flex;
}

.info_section{
    width: 35%;
    height: 100vh;
    background: #ffd500;
}

.form_section{
    width: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 0 5em;
    
}

.formSection__form{ // -- Esto esta dentro de .form_section
    // background: red;
    // display: none;
    width: 70%;  //------
    &__formGroup{
        width: 100%;
        display: flex;
        margin-bottom: 1em;
        // background: red;
        // flex-wrap: wrap;

        &__title{
            display: flex;
            align-items: center;
            width: 20%;
            margin: 0;
        }

        &__inputContainer{
            width: 80%;
            // background: green;
            &__input{
                // background: green;
                width: $widthInput;
            }
        }
        
        &--datos{ 
            
            flex-wrap: nowrap;
            
            &__title{
                // color: red;
                // width: 10em;
                // background: red;
            }
            
            &__inputContainer{
                display: flex;
                justify-content: space-between;
                // background: blue;

                
                &__input{
                    // width: $widthInput;
                    width: 9em;
                    // background: red;
                    &:first-child{
                        // background: green;
                        width: $widthInput;
                    }
                }
            }
        }

        &--edad{
            input{
                // background: blue;
            }
        }
        
    }
}